* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  display: flex;
  overflow: hidden;
  background-color: #eee;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

td {
  width: 90px;
  height: 90px;
  margin: 4px;
  border: 1px solid #2c3283;
}

td .circle {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

td .circle.red,
td .circle.blue {
  cursor: default;
  pointer-events: none;
}

table {
  border-spacing: 1px;
}

table.stop {
  pointer-events: none;
}

.circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transition: 0.3s all ease-in;

}

.circle.red::before,
.circle.blue::before {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
}

.circle.red::before {
  background: #ff0000;
}

.circle.blue::before {
  background: #0000ff;
}

.btn {
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  color: #333;
  border-radius: 5px;
  transition: 0.3s background-color;
  margin: 1rem 1rem;
}

.btn[disabled] {
  cursor: not-allowed;
  background-color: rgb(93, 97, 107);
}

.btn:hover:not(.chat .btn, [disabled]) {
  background: #888;
}

.hidden {
  display: none !important;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(204, 204, 204, 0.704);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal #hide {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  padding: 10px;
}

.modal-body {
  background: #bbb;
  min-height: 10rem;
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.modal-body .btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#undo{
  cursor: pointer;
  position: absolute;
  top : 20px;
  right : 10px;
  padding: .3rem;
  font-size: 1.4rem;
}

.loader {
  position: relative;
  height: 100px;
  width: 100px;
}

.spinner {
  border: 8px solid black;
  border-right-color: transparent;
  border-radius: 50%;
  height: 30px;
  left: 50%;
  margin: -23px 0 0 -23px;
  position: absolute;
  top: 50%;
  width: 30px;
  -webkit-animation: spinner 1s linear 0s infinite;
  -moz-animation: spinner 1s linear 0s infinite;
  animation: spinner 1s linear 0s infinite;
}

.link-to-friend {
  align-self: flex-start;
  width: 100%;
}

.link-to-friend label {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  display: block;
  margin-bottom: 1rem;
}

input {
  font-size: 20px;
}

.link-to-friend input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  padding: 3px;
  border-radius: 5px;
}

.chat {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 22rem;
  background-color: white;
  transition: 0.3s transform ease-in;
  transform: translateX(100%);
}

.chat.show {
  transform: translateX(0);
}

.chat .btn {
  position: absolute;
  top: 1.5rem;
  left: 0;
  transform: translateX(-98%);
  margin: 0;
  border-radius: 0;
  background-color: white;
  border: 1px solid black;
  border-right: none;
  padding: 10px;
}

.chat .btn .badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2px;
  right: 2px;
  width: 15px;
  height: 15px;
  color: white;
  border-radius: 50%;
  padding: 15px;
  background-color: rgb(223, 8, 8);
}

.chat-body {
  height: 100%;
}

.chat-messages {
  height: 90%;
  padding: 1rem 0.5rem;
  overflow-y: scroll;
}

.chat-messages .msg {
  padding: 15px;
  max-width: 90%;
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
}

.chat-messages .msg.sent {
  margin-left: auto;
  background-color: rgb(26, 139, 173);
  color: white;
}

.chat-messages .msg.recieved {
  background-color: #ddd;
}

.send-group {
  display: flex;
  margin-left: 1rem;
}

.send-group button {
  cursor: pointer;
  padding: 5px;
  outline: none;
  border: none;
  color: white;
  background-color: #333;
}

.send-group input {
  outline: none;
  border: 1px solid rgb(57, 57, 197);
  width: 80%;
  height: 2.5rem;
  padding: 10px;
  background-color: #ddd;
}

footer {
  font-family: monospace;
  position: absolute;
  font-size: 24px;
  z-index: -100;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3rem;
  padding: 2rem;
  color: white;
  background-color: rgb(22, 97, 28);
  display: flex;
  align-items: center;
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  table {
    width: calc(100% - 20px);
    margin: 2rem auto;
  }

  .btn:not(.btn-chat.btn) {
    margin: 0.2rem 1rem;
    width: 80%;
    font-size: 16px;
  }

  td {
    width: 60px;
    height: 60px;
  }

  .modal-body .btns {
    flex-direction: column;
  }

  .chat {
    top: 100px;
    bottom: 0 !important;
    width: 100%;
    transform: translateY(100%);
  }

  .chat.show {
    transform: translateY(0);
    padding-bottom: 2rem;
  }

  .chat .btn {
    top: 0;
    left: 1.5rem;
    transform: translateY(-98%);
    border-bottom: none;
    border-right: 1px solid black;
  }

}

@media (max-width: 1100px){
  table{
    margin-bottom: 6rem;
  }
}